<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scp.user.mapper.UserAccountMapper">
  <resultMap id="BaseResultMap" type="com.scp.user.model.UserAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="silver_coin" jdbcType="INTEGER" property="silverCoin" />
    <result column="gold_coin" jdbcType="INTEGER" property="goldCoin" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <select id="checkSqlCollation"  resultMap="BaseResultMap">
    SELECT
        a.*
     FROM test.dbo.user_account a
     JOIN test.dbo.user_info b ON a.user_name = b.username COLLATE Chinese_PRC_90_CI_AS
  </select>
</mapper>